<mat-card>
    <mat-card-title>Deletar Produto</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" disabled=true [ngModel]="product.name" name="name">
        </mat-form-field>
        <mat-form-field>
            <input type="number" matInput placeholder="Preço" disabled=true [ngModel]="product.price" name="price">
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="deleteProduct()" color="primary">
        Deletar
    </button>
    <button mat-raised-button (click)="cancel()" color="danger">
        Cancelar
    </button>
</mat-card>
